body {
   
        font-family:"Trebuchet MS";
        background-color:#001438;
        text-align:center;
        color:white;
        
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color:transparent;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(20px) brightness(85%);
       
      
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left:-2%;
    }
    
    
    input[type="submit"] {
        background-color: #0056b3;
        border-radius:10px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
    }
input[type="button"]{
    padding: 10px 20px;
    background-color: #0056b3;
    border-radius:10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}